<div class="container">
  <div class="py-5 text-center">
    <h2>Registration form</h2>
    <p class="lead">
      Please fill in the information below.
    </p>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form novalidate="">
        <div class="mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" />
          <div class="invalid-feedback text-danger">
            Your name is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="email" class="form-control" id="email" required="" />
            <div class="invalid-feedback text-danger" style="width: 100%;">
              Please enter a valid email address.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required=""
          />
          <div class="invalid-feedback text-danger">
            Please enter a password which is at least 6 characters long,
            contains upercase letters, number and a special symbol.
          </div>
        </div>

        <hr class="mb-4" />

        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
