<div class="container">
  <div class="py-5 text-center">
    <h2>Registration form</h2>
    <p class="lead">
      Please fill in the information below.
    </p>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [ngModel]="name"
            #nameInput="ngModel"
          />
          <div
            *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
            class="text-danger"
          >
            Your name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              type="email"
              class="form-control form-control-email"
              name="email"
              required
              email
              appUniqueEmail
              [ngModel]="email"
              [ngModelOptions]="{ updateOn: 'blur' }"
              #emailInput="ngModel"
            />
            <div
              *ngIf="
                emailInput.invalid && (emailInput.dirty || emailInput.touched)
              "
              class="text-danger"
              style="width: 100%;"
            >
              <div
                *ngIf="emailInput.errors.required || emailInput.errors.email"
              >
                Please enter a properly formatted email address.
              </div>
              <div *ngIf="emailInput.errors.uniqueEmail">
                {{ emailInput.errors.uniqueEmail.value }} is taken.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,20}$"
            [ngModel]="password"
            #passwordInput="ngModel"
          />
          <div
            *ngIf="
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
            "
            class="text-danger"
          >
            Please enter a password which has between 6 and 20 characters, at
            least one uppercase letter, one lowercase letter, one number and one
            special character.
          </div>
        </div>

        <hr class="mb-4" />

        <button
          class="btn btn-primary btn-lg btn-block"
          type="submit"
          [disabled]="!registrationForm.form.valid"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
